*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f3f4f6;
}

.container{
    width:700px;
    margin:40px auto;
    background:#fff;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

h1{
    text-align:center;
    color:#1E3A8A;
    margin-bottom:30px;
}

label{
    display:block;
    margin-top:18px;
    margin-bottom:6px;
    font-weight:bold;
}

input,
select,
textarea{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:6px;
    font-size:15px;
}

input:focus,
select:focus,
textarea:focus{
    outline:none;
    border-color:#2563EB;
}

.buttons{
    margin-top:30px;
    display:flex;
    justify-content:center;
    gap:20px;
}

.save{
    background:#2563EB;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:6px;
    cursor:pointer;
}

.save:hover{
    background:#1D4ED8;
}

.reset{
    background:#EF4444;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:6px;
    cursor:pointer;
}

.reset:hover{
    background:#DC2626;
}